.toast-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    padding: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99999;
}

.toast {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    width: 350px;
    font-size: 14px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.toast-icon {
    margin-right: 10px;
    font-size: 24px;
}

.toast-message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.success {
    background-color: #28a745;
    color: #ffffff;
}

.error {
    background-color: #dc3545;
    color: #ffffff;
}

.toast-close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.show {
    animation-name: slideInRight;
}

.hide {
    animation-name: slideOutRight;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

@media screen and (max-width: 400px) {
    .toast {
        width: 100% !important;
    }
    
}